{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% url 'how_you_can_help' as how_you_can_help_url %}
{% url 'become_member' as become_member_url %}

{% block content %}

<section class='mt-0 hero' id='hero-news'>
    <div class="container-fluid p-0">
        <div class='row position-relative hero-image-div'>
            <img class='img-fluid hero-image' src="{% static 'images/events.jpg' %}" alt="{% trans 'In the blurred background people are in a conference and a speaker delivers a speech.' %}">
            <h1 class='fst-italic fw-bold hero-heading hide'>{% trans 'Always in' %}<br>{% trans 'Motion,' %}
                <br>{% trans 'Always in' %}<br>{% trans 'Hearts' %}
            </h1>
            <img class="down-arrow hide" src="{% static 'images/down_arrow.png' %}" alt="Down arrow">
        </div>
    </div>
</section>

{% get_current_language as LANGUAGE_CODE %}
<section id='this-months-events'>
    <div class="container-fluid {% if current_month_events %} d-block {% else %} d-none {% endif %}">
        <div class="rows ms-2">
            <h2 class='fs-1 fw-bold'>{% trans "This month's events" %}</h2>
        </div>
        <div class="row mt-5">
            {% for event in current_month_events %}
            <div class="col-12 d-flex justify-content-center col-md-4">
                <div class="card w-100 h-auto">
                    {% if 'placeholder' in event.image.url %}
                    <img src="{% static 'images/default_logo.jpg' %}" class="card-img-top" alt="{% trans 'Default image' %}">
                    {% else %}
                    <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
                    {% endif %}
                    <div class="card-body">
                        {% if LANGUAGE_CODE == 'el' %}
                        <h5 class="card-title">{{ event.title_greek }}</h5>
                        {% else %}
                        <h5 class="card-title">{{ event.title_english }}</h5>
                        {% endif %}
                        <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-calendar-heart-fill" viewBox="0 0 16 16">
                            <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                            </svg> {{ event.date_of_event|date:"F j, Y" }}
                        </p>
                        <p><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                            </svg>{% if LANGUAGE_CODE == 'el' %} {{ event.location_greek }} {% else %} {{ event.location_english }} {% endif %}
                        </p>
                        <a class="btn btn-outline-danger" href="{% url 'event_info' event.slug %}">View Event</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id='upcoming-events'>
    <div class="container-fluid {% if upcoming_events %} d-block {% else %} d-none {% endif %}">
        <div class="rows ms-2">
            <h2 class='fs-1 fw-bold'>{% trans "Our upcoming events" %}</h2>
        </div>
        <div class="row mt-5">
            {% for event in upcoming_events %}
            <div class="col-12 d-flex justify-content-center col-md-4">
                <div class="card w-100 h-auto">
                    {% if 'placeholder' in event.image.url %}
                    <img src="{% static 'images/default_logo.jpg' %}" class="card-img-top" alt="{% trans 'Default image' %}">
                    {% else %}
                    <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-calendar-heart-fill" viewBox="0 0 16 16">
                            <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                            </svg> {{ event.date_of_event|date:"F j, Y" }}
                        </p>
                        <p><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                            </svg> {{ event.location }}
                        </p>
                        <a class="btn btn-outline-danger" href="{% url 'event_info' event.slug %}">View Event</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id='old-events'>
    <div class="container-fluid">
        <div class="row text-center mx-2 mx-lg-5">
            <h2 class='fs-1 fw-bold'>{% trans 'Get inspired from our previous events and help us organise our next ones' %}</h2>
        </div>
        <div class="row mt-5">
            {% if past_events %}
            {% for event in past_events %}
            <div class="col-12 d-flex justify-content-center col-md-4">
                <div class="card w-100 h-auto">
                    {% if 'placeholder' in event.image.url %}
                    <img src="{% static 'images/default_logo.jpg' %}" class="card-img-top" alt="{% trans 'Default image' %}">
                    {% else %}
                    <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-calendar-heart-fill" viewBox="0 0 16 16">
                            <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                            </svg> {{ event.date_of_event|date:"F j, Y" }}
                        </p>
                        <p><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                            </svg> {{ event.location }}
                        </p>
                        <a class="btn btn-outline-danger" href="{% url 'event_info' event.slug %}">View Event</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-center my-3"> 
                {%blocktrans%}
                There are currently no past events available at the moment. <br><br> 
                Our team is working to bring you the latest information soon. <br><br>
                Please check back later for new updates and events. <br><br>
                Thank you for your understanding!
                {%endblocktrans%}
            </p>
        {% endif %}
        </div>
    </div>
</section>

<section id='links-events'>
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 d-flex flex-column">
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/become_member.jpg' %}" alt="{% trans 'A group of people placing their hands in the middle on top of each other.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'become_member' %}">{% trans 'Become a member today' %}</a>
                </div>
            </div>
            <div class='col my-3 pe-lg-5 d-flex flex-column'>
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/volunteer-hands.jpg' %}" alt="{% trans 'Animated image of many hands as a frame.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'how_you_can_help' %}">{% trans 'How you can help' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}