{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% url 'events' as events_url %}
{% url 'become_member' as become_member_url %}

{% block content %}

<section class='mt-0 hero' id='hero-news'>
    <div class="container-fluid p-0">
        <div class='row position-relative hero-image-div'>
            <img class='img-fluid hero-image' src="{% static 'images/news.jpg' %}" alt="{% trans 'Two hands holding a red heart over a laptop' %}">
            <h1 class='fst-italic fw-bold hero-heading'>{% trans 'Keeping' %}<br>{% trans 'Hearts' %}
                <br>{% trans 'Informed' %}
            </h1>
            <img class="down-arrow" src="{% static 'images/down_arrow.png' %}" alt="Down arrow">
        </div>
    </div>
</section>

<hr>

<section id='intro'>
    <div class='container-fluid text-start d-flex flex-column'>
        <div class='row'>
            <div class='col d-sm-flex justify-content-sm-start ms-sm-5 mb-5'>
                <h2 class='fs-1 fw-bold'>{% trans 'Our latest news' %}</h2>
            </div>
        </div>
        <div class='row justify-content-center'>
            <div class='col-8'>
                <p class='fs-5'> 
                    {% blocktrans %}
                    Children's well being and health are at the heart of everything we do.
                    <br>
                    <br>
                    Read below our latest news, the issues we are working on and articles from health professionals.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</section>

<section id='main'>
    <div class="container-fluid">
        <div class="row my-5">
            {% for new in new_list %}
            <div class="col d-flex justify-content-center col-md-6 col-lg-4">
                <div class="card w-75 h-auto">
                    {% if 'placeholder' in new.image.url %}
                    <img src="{% static 'images/default_logo.jpg' %}" class="card-img-top" alt="{% trans 'Default image, Logo of the associaiton.' %}">
                    {% else %}
                    <img src="{{ new.image.url }}" class="card-img-top" alt="{{ new.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ new.title }}</h5>
                        <p class="card-text">{{ new.excerpt }}</p>
                        <a class="btn btn-outline-secondary" href="{% url 'new_detail' new.slug %}">Read</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="gray" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                            </svg> {{ new.created_on }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    </div>
</section>

<hr>

<section id='links'>
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 d-flex flex-column">
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/become_member.jpg' %}" alt="{% trans 'A group of people in the forest hanging each other.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'become_member' %}">{% trans 'Become a member today' %}</a>
                </div>
            </div>
            <div class='col my-3 pe-lg-5 d-flex flex-column'>
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/events.jpg' %}" alt="{% trans 'In the blured background people are in a connference and a speaker delivers a speech.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'events' %}">{% trans 'Find out about our Events' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}