{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Cancel Membership</h1>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <form id="cancelMembershipForm" method="post">
                            {% csrf_token %}
                            <input type="text" id="id_number" name="id_number" placeholder="{% trans 'Enter your ID number' %}" required>
                            <label for="id_number">{% trans 'ID Number' %}</label>
                            <input type="checkbox" id="confirmCancellation" name="confirmCancellation" required>
                            <label for="confirmCancellation">{% trans 'I confirm that I want to cancel my membership' %}</label>
                            <p><small>
                            {% blocktrans %}
                                **Note**: By canceling your membership, you will no longer receive updates or benefits associated with being a member. If you have any questions or concerns, please contact us.
                            {% endblocktrans %}
                            </small></p>
                            <button type="submit" class="btn btn-danger">{% trans 'Cancel Membership' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}