{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% url 'events' as events_url %}
{% url 'become_member' as become_member_url %}

{% block content %}

<section class='mt-0 hero' id='hero-info-page'>
    <div class="container-fluid p-0">
        <div class='row position-relative hero-image-div'>
            <img class='img-fluid hero-image' src="{% static 'images/baby_examinated.jpg' %}" alt="{% trans 'A baby is laying down and a doctors examines the baby with a stethoscope.' %}">
            <h1 class='fst-italic fw-bold hero-heading'>{% trans 'More Info about' %}<br>{% trans 'Congenital Heart diseases' %}</h1>
            <img class="down-arrow" src="{% static 'images/down_arrow_curved.png' %}" alt="Down arrow">
        </div>
    </div>
</section>

<hr>

<section id='intro-info-page'>
    <div class='container-fluid text-start d-flex flex-column'>
        <div class='row'>
            <div class='col d-sm-flex justify-content-sm-start ms-sm-5 mb-5'>
                <h2 class='fs-1 fw-bold'>{% trans 'What are Congenital Heart Diseases?' %}</h2>
            </div>
        </div>
        <div class='row d-flex justify-content-center'>
            <div class='col-8'>
                <p class='fs-5'> 
                    {% blocktrans %}
                    Congenital heart diseases are abnormalities of the structure of the heart, which a 
                    person carries with him from the day of his birth. In other words, those suffering 
                    from congenital heart diseases are born with some "structural" problem in the heart. 
                    The word "kin" means "by birth." The term should not be confused with "kinship," in 
                    the sense of heredity, with which it has but little to do.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</section>

<section id="info-info-pages">
    <div class="container-fluid">
        <div class='row'>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed fs-3 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            {% trans 'How are they detected' %}
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <p>{% blocktrans %}It is encouraging that many congenital heart diseases are now detected by fetal 
                                echocardiography. However, the majority of them are diagnosed in the neonatal period, usually 
                                by the pediatrician in the maternity ward or during the first weeks or months of life.<br><br>
                                However, there are also several cases where very significant congenital heart diseases can be 
                                found at any time in childhood, adolescence or even after adulthood. Such cases may include a 
                                referral from the pediatrician to a pediatric cardiologist, who is called upon to evaluate a 
                                child with a heart murmur (nine out of ten children are referred for evaluation of a heart murmur), 
                                with cyanosis or with signs and symptoms of heart failure.
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed fs-3 fw-bold text-center" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        {% trans 'What to do' %}
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            <p>
                                {% blocktrans %}
                                Referral to a physician specialized and experienced in the diagnosis and treatment of congenital 
                                heart disease is vital in order to accurately determine the nature of the problem. A pediatric 
                                cardiologist is the doctor who has the knowledge and expertise to determine:
                                {% endblocktrans %}
                            </p>
                            <ul>
                                <li>{% trans 'The nature of the heart problem' %}</li>
                                <li>{% trans 'Medication, if indicated' %}</li>
                                <li>{% blocktrans %} The frequency of visits needed to monitor the 
                                    patient and possible tests
                                    {% endblocktrans %}</li>
                                <li>{% trans 'Invasive non-surgical cardiac treatment, if indicated' %}</li>
                                <li>{% blocktrans %} Referral of the patient for possible surgical treatment of the 
                                    problem by a pediatric cardiac surgeon-cardiac surgeon specializing in congenital 
                                    heart disease.
                                    {% endblocktrans %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section id='links-info-page'>
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 d-flex flex-column">
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/people_in_forest.jpg' %}" alt="{% trans 'A group of people in the forest hanging each other.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'become_member' %}">{% trans 'Become a member today' %}</a>
                </div>
            </div>
            <div class='col my-3 pe-lg-5 d-flex flex-column'>
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/conference.jpg' %}" alt="{% trans 'In the blured background people are in a connference and a speaker delivers a speech.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'events' %}">{% trans 'Find out about our Events' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}