{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% url 'home' as home_url %}
{% url 'events' as events_url %}
{% url 'news' as news_url %}
{% url 'what_we_do' as what_we_do_url %}
{% url 'how_you-can_help' as how_you_can_help_url %}
{% url 'heart_disease_info' as heart_disease_info_url %}
{% url 'become_member' as become_member_url %}

{% block content %}
<section class='mt-0 hero' id='hero-home'>
    <div class="container-fluid p-0">
        <div class='row position-relative hero-image-div'>
            <img class='img-fluid hero-image' src="{% static 'images/kid_heart.png.jpg' %}" alt="{% trans 'Two hands of a child holding a red heart' %}">
            <h1 class='fst-italic fw-bold hero-heading'>{% trans 'Young hearts' %}<br>{% trans 'is our mission' %}</h1>
        </div>
    </div>
</section>

<hr>

<section id='intro'>
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 text-center">
                <img class='w-75' src="{% static 'images/istockphoto-2174361430-1024x1024.jpg' %}" alt="{% trans 'Hands forming a circle around a big red heart' %}">
            </div>
            <div class="col my-3 pe-lg-5">
                <div>
                    <p class='px-3 fs-5'>
                        {% blocktrans %}
                        The Association of Parents and Friends of Heart Diseased Children is a Charitable 
                        Non-Profit Association that provides support, assistance and education services to 
                        all people with Congenital Heart Diseases and their families. It was founded in 1985. 
                        It organizes various actions such as informing the public about Congenital Heart Disease, 
                        lectures with invited doctors inside and outside Cyprus, workshops, programs in 
                        collaboration with various agencies with the ultimate goal of improving the quality of 
                        life of people with Congenital Heart Disease, events, etc.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class='d-flex justify-content-evenly mt-5'>
                    <a href="{% url 'what_we_do' %}">{% trans 'What we do' %}</a>
                    <a href="{% url 'news' %}">{% trans 'Read our news' %}</a>
                    <a href="{% url 'events' %}">{% trans 'See our events' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section id='donations-form'>
    <div class="container-fluid">
        <div class="row text-center d-flex flex-column flex-lg-row">
            <div class="col my-3 px-0">
                <img class='w-100' src="{% static 'images/melissa-labellarte-j_XVwZqzcdI-unsplash.jpg' %}" alt="{% trans 'Baby being examinated from a doctor.' %}">
            </div>
            <div class="col my-3 pe-lg-5 bg-warning px-0">
                <h2 class='text-center fs-1 fw-bold mt-2'>{% trans 'Donations' %}</h2>
                <div>
                    <form action="">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section id='explain'>
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 pe-lg-5 d-flex flex-column justify-content-center">
                <div>
                    <h2 class='ps-3 fs-1 fw-bold'>{% trans 'What are Congenital Heart Diseases?' %}</h2>
                    <p class='px-3 fs-5 mt-4'>
                        {% blocktrans %}
                        Congenital heart diseases are abnormalities of the structure of the heart, which a 
                        person carries with him from the day of his birth. In other words, those suffering 
                        from congenital heart diseases are born with some "structural" problem in the heart. 
                        The word "kin" means "by birth." The term should not be confused with "kinship," in 
                        the sense of heredity, with which it has but little to do.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class='d-flex justify-content-end mt-5'>
                    <a class='pe-3' href="{% url 'heart_disease_info' %}">{% trans 'More Info' %}</a>
                </div>
            </div>
            <div class="col my-3 text-center">
                <img class='w-75' src="{% static 'images/baby_examinated.jpg' %}" alt="{% trans 'Infant laying down and a doctor listens to the heart of the baby' %}">
            </div>
        </div>
    </div>
</section>

<hr>

<section id='prompt'>
    <div class="container-fluid">
        <div class="row">
            <div id='prompt-div' class="col col-sm-5 ms-4 d-flex flex-column justify-content-evenly">
                <h2 class='fs-1 fw-bold fst-italic text-white'>{% trans 'Every child deserves' %}<br>{% trans 'a chance to live' %}<br>{% trans 'a healthy life!' %}</h2>
                <p class='text-white fs-5'>
                    {% blocktrans %}
                    Every year, 1 in every 10 kids is born with a heart
                    disease and 1 in every 5 families does not have the
                    financial capability to take their child for surgery and
                    therapy. And almost all families will be heartbroken
                    and emotionally vulnerable having these kind of news.
                    {% endblocktrans %}
                </p>
                    <a class='btn btn-light text-decoration-underline w-50' href="{% url 'how_you_can_help' %}">{% trans 'How you can help' %}</a>
            </div>
        </div>
    </div>
</section>

<hr>

<section id='links-home'>
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 d-flex flex-column">
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/people_in_forest.jpg' %}" alt="{% trans 'A group of people in the forest hanging each other.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'become_member' %}">{% trans 'Become a member today' %}</a>
                </div>
            </div>
            <div class='col my-3 pe-lg-5 d-flex flex-column'>
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/conference.jpg' %}" alt="{% trans 'In the blured background people are in a connference and a speaker delivers a speech.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'events' %}">{% trans 'Find out about our Events' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

{% endblock %}