{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% url 'home' as home_url %}
{% url 'events' as events_url %}
{% url 'news' as news_url %}
{% url 'what_we_do' as what_we_do_url %}
{% url 'how_you-can_help' as how_you_can_help_url %}
{% url 'heart_disease_info' as heart_disease_info_url %}
{% url 'become_member' as become_member_url %}
{% url 'donations' as donations_url %}

{% block content %}
<section class='mt-0 hero' id='hero-home'>
    <div class="container-fluid p-0">
        <div class='row position-relative hero-image-div'>
            <img class='img-fluid hero-image' src="{% static 'images/kid_heart.jpg' %}" alt="{% trans 'Two hands of a child holding a red heart' %}">
            <h1 class='fst-italic fw-bold hero-heading hide'>{% trans 'Young hearts' %}<br>{% trans 'is our mission' %}</h1>
            <a class="cta-btn-home btn btn-warning fst-italic hide" href="#donations-form">{% trans 'Donate' %} <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                </svg>
            </a>
            <a href="#intro"><img class="down-arrow hide" src="{% static 'images/down_arrow.png' %}" alt="Down arrow"></a>
        </div>
        <!-- Event Modal -->
        <div id="eventModal" class="modal">
            <div class="modal-content">
                <span class="close" id="closeModal">&times;</span>
                <img src="{% static 'images/thalassios_marathonios.jpg' %}" alt="Poster for the event" class="img-fluid">
                <div class="modal-cta-buttons-div">
                    <a href="https://pediheart.org.cy/en/events/8alassios-mara8wnios-2025/" class="modal-button btn btn-success">{% trans 'Learn More' %}</a>
                    <a href="#" class="modal-button btn btn-warning">{% trans 'Donate to this Event' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section id='intro'>
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 text-center">
                <img class='w-50' src="{% static 'images/default_logo.jpg' %}" alt="{% trans 'Logo of the association.' %}">
            </div>
            <div class="col my-3 pe-lg-5">
                <div>
                    <p class='px-3 fs-5'>
                        {% blocktrans %}
                        The Association of Parents and Friends of Heart Diseased Children is a Charitable 
                        Non-Profit Association that provides support, assistance and education services to 
                        all people with Congenital Heart Diseases and their families. It was founded in 1985. 
                        It organizes various actions such as informing the public about Congenital Heart Disease, 
                        lectures with invited doctors inside and outside Cyprus, workshops, programs in 
                        collaboration with various agencies with the ultimate goal of improving the quality of 
                        life of people with Congenital Heart Disease, events, etc.
                        {% endblocktrans %}
                    </p>
                </div>
                <div id="intro-links" class='d-flex justify-content-evenly mt-5'>
                    <a class="btn btn-primary" href="{% url 'what_we_do' %}">{% trans 'What we do' %}</a>
                    <a class="btn btn-success" href="{% url 'news' %}">{% trans 'Read our news' %}</a>
                    <a class="btn btn-danger" href="{% url 'events' %}">{% trans 'See our events' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section id='donations-form'>
    <div class="container-fluid">
        <div class="row text-center d-flex flex-column flex-md-row">
            <div class="col my-md-2 px-0">
                <img class='w-100' src="{% static 'images/melissa-labellarte-j_XVwZqzcdI-unsplash.jpg' %}" alt="{% trans 'Baby being examined from a doctor.' %}">
            </div>
            <div class="col my-md-2 pe-lg-5 bg-warning px-0">
                <h2 class='text-center fs-1 fw-bold mt-2'>{% trans 'Donations' %}</h2>
                <div>
                    <form class="mx-3 mx-md-2 mx-lg-3 ps-lg-4" method="GET" action="{% url 'donation_checkout' %}">
                        {% csrf_token %}
                        <div class="d-flex flex-column align-items-stretch">
                            <div class="btn-group my-3 my-md-2 my-lg-3 mx-2" role="group" aria-label="Basic radio toggle button group">

                                <input type="radio" class="btn-check" name="donation_type" id="one-off" value="One-Off Payment" autocomplete="off" checked>
                                <label class="btn btn-outline-dark" for="one-off">{% trans 'One-off Payment' %}</label>

                                <input type="radio" class="btn-check" name="donation_type" id="monthly" value="Monthly Subscription" autocomplete="off">
                                <label class="btn btn-outline-dark" for="monthly">{% trans 'Monthly Subscription' %}</label>

                            </div>

                            <div class="btn-group my-3 my-md-2 my-lg-3 mx-2" role="group" aria-label="Basic radio toggle button group">

                                <input type="radio" class="btn-check" name="donation_amount" value="5" id="amount_5" autocomplete="off" checked>
                                <label class="btn btn-outline-dark" for="amount_5"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                    <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                                    </svg> 5
                                </label>

                                <input type="radio" class="btn-check" name="donation_amount" value="10" id="amount_10" autocomplete="off">
                                <label class="btn btn-outline-dark" for="amount_10"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                    <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                                    </svg> 10
                                </label>

                                <input type="radio" class="btn-check" name="donation_amount" value="20" id="amount_20" autocomplete="off">
                                <label class="btn btn-outline-dark" for="amount_20">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                        <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                                    </svg> 20
                                </label>

                                <input type="radio" class="btn-check" name="donation_amount" value="30" id="amount_30" autocomplete="off">
                                <label class="btn btn-outline-dark" for="amount_30">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                        <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                                    </svg> 30
                                </label>

                            </div>

                            <div class="my-3 my-md-1 my-lg-2 mx-2">
                                <input type="radio" class="btn-check" name="donation_amount" value="other" id="amount_other" autocomplete="off">
                                <label class="btn btn-outline-dark" for="amount_other">{% trans 'Other Amount' %}</label>
                                <input class="enter-amount" type="number" name="other_amount" min="1" placeholder="Enter amount">
                            </div>
                        </div>

                        <div class="my-3 my-md-2 my-lg-3 mx-2">
                            <button class="btn btn-secondary w-50" type="submit">{% trans 'Donate' %}</button>
                        </div>
                    </form>                      
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section id='explain'>
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 pe-lg-5 d-flex flex-column justify-content-center">
                <div>
                    <h2 class='ps-3 fs-1 fw-bold'>{% trans 'What are Congenital Heart Diseases?' %}</h2>
                    <p class='px-3 fs-5 mt-4'>
                        {% blocktrans %}
                        Congenital heart diseases are abnormalities of the structure of the heart, which a 
                        person carries with him from the day of his birth. In other words, those suffering 
                        from congenital heart diseases are born with some "structural" problem in the heart. 
                        {% endblocktrans %}
                    </p>
                </div>
                <div class='d-flex justify-content-end mt-5'>
                    <a class='pe-3 btn btn-outline-primary' href="{% url 'heart_disease_info' %}">{% trans 'More Info' %}</a>
                </div>
            </div>
            <div class="col my-3 text-center">
                <img class='w-75' src="{% static 'images/baby_examinated.jpg' %}" alt="{% trans 'A baby is laying down and a doctors examines the baby with a stethoscope.' %}">
            </div>
        </div>
    </div>
</section>

<hr>

<section id='prompt'>
    <div class="container-fluid">
        <div class="row">
            <div id='prompt-div' class="col col-md-6 ms-4 d-flex flex-column justify-content-evenly">
                <h2 class='fs-1 fw-bold fst-italic'>{% trans 'Every child deserves' %}<br>{% trans 'a chance to live' %}<br>{% trans 'a healthy life!' %}</h2>
                <p class='fs-5'>
                    {% blocktrans %}
                    Every year, 1 in every 100 kids is born with a heart
                    disease and 1 in every 5 families does not have the
                    financial capability to take their child for surgery and
                    therapy. And almost all families will be heartbroken
                    and emotionally vulnerable having these kind of news.
                    {% endblocktrans %}
                </p>
                <a class='btn btn-dark w-50' href="{% url 'how_you_can_help' %}">{% trans 'How you can help' %}</a>
            </div>
        </div>
    </div>
</section>

<hr>

<section id='links-home'>
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 d-flex flex-column">
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/become_member.jpg' %}" alt="{% trans 'A group of people placing their hands in the middle on top of each other.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'become_member' %}">{% trans 'Become a member today' %}</a>
                </div>
            </div>
            <div class='col my-3 pe-lg-5 d-flex flex-column'>
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/events.jpg' %}" alt="{% trans 'In the blurred background people are in a conference and a speaker delivers a speech.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'events' %}">{% trans 'Find out about our Events' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

{% endblock %}