
/* ---------------------------- NavBar --------------------------------------------- */
.nav-item {
    font-weight: bold;
    margin: 0 10px;
    font-size: large;
    font-style: italic;
}

.nav-buttons {
    font-weight: bold;
    font-size: x-large;
}


/* ---------------------------- Footer --------------------------------------------- */
footer {
    background-color: rgb(248, 249, 250);
}

.footer-div {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.footer-div-image {
    background: url(../images/istockphoto-694432168-1024x1024.jpg) no-repeat center center;
}

/* ---------------------------- Media Queries --------------------------------------------- */
@media (max-width: 992px) {
    .footer-div-image {
        height: 450px;
    }
}