{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% url 'how_you_can_help' as how_you_can_help_url %}
{% url 'services' as services_url %}
{% url 'programs' as programs_url %}
{% url 'become_member' as become_member_url %}

{% block content %}

<section class='mt-0 hero' id='hero-what-we-do'>
    <div class="container-fluid p-0">
        <div class='row position-relative hero-image-div'>
            <img class='img-fluid hero-image' src="{% static 'images/kids_playing_outside.jpg' %}" alt="{% trans 'Two hands of a child holding a red heart' %}">
            <h1 class='fst-italic fw-bold hero-heading'>{% trans 'Creating Hope' %}<br>{% trans 'for Children with' %}
            <br>{% trans 'Heart Conditions' %}
            </h1>
            <img class="down-arrow" src="{% static 'images/down_arrow_curved.png' %}" alt="Down arrow">
        </div>
    </div>
</section>

<section id='description'>
    <div class="container-fluid">
        <h2 class="text-center fs-1 fw-bold mb-5">{% trans 'What we do' %}</h2>
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 text-center">
                <img class='w-75' src="{% static 'images/red_ribbon.jpg' %}" alt="{% trans 'Red band' %}">
            </div>
            <div class="col my-3 pe-lg-5 d-flex align-items-center">
                <div>
                    <p class='px-3 fs-5'>
                        {% blocktrans %}
                        The Association of Parents and Friends of Heart Diseased Children is a Charitable 
                        Non-Profit Association that provides support, assistance and education services to 
                        all people with Congenital Heart Diseases and their families. It was founded in 1985. 
                        It organizes various actions such as informing the public about Congenital Heart Disease, 
                        lectures with invited doctors inside and outside Cyprus, workshops, programs in 
                        collaboration with various agencies with the ultimate goal of improving the quality of 
                        life of people with Congenital Heart Disease, events, etc.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section class='mt-0 hero' id='statistics'>
    <div class="container-fluid p-0">
        <div class='row position-relative' id="statistics-div">
            <h1 class='fst-italic fw-bold hero-heading'>{% trans 'Statistics' %}</h1>
        </div>
    </div>
</section>

<hr>

<section id="main-goals">
    <h2 class="fs-1 fw-bold text-center mb-5">{% trans 'Main goals of the Association' %}</h2>
    <!--Goal 1-->
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 text-center">
                <img class='w-75' src="{% static 'images/istockphoto-2174361430-1024x1024.jpg' %}" alt="{% trans 'Hands forming a circle around a big red heart' %}">
            </div>
            <div class="col my-3 pe-lg-5 d-flex align-items-center">
                <div>
                    <p class='px-3 fs-5'>
                        {% blocktrans %}
                        The Association supports people with Congenital and Acquired Heart Diseases 
                        with various services. Information and guidance, Psychological Support, 
                        Financial Support, safeguarding the rights of patients with Congenital Heart 
                        Diseases, Informative lectures, Informative meetings, organizes trips to get 
                        to know each other among members, Pancypriot Emergency Helpline, Discounts 
                        from various stores, information campaigns, etc.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Goal 2-->
    <div class="container-fluid">
        <div class="row d-flex flex-column-reverse flex-lg-row">
            <div class="col my-3 pe-lg-5 d-flex align-items-center">
                <div>
                    <p class='ps-5 fs-5 mt-4'>
                        {% blocktrans %}
                        The information, enlightenment and awareness of the public about Congenital 
                        Heart Diseases The education and empowerment of people with Congenital Heart Diseases.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="col my-3 text-center">
                <img class='w-75' src="{% static 'images/baby_examinated.jpg' %}" alt="{% trans 'Infant laying down and a doctor listens to the heart of the baby' %}">
            </div>
        </div>
    </div>
    <!--Goal 3-->
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 text-center">
                <img class='w-75' src="{% static 'images/istockphoto-2174361430-1024x1024.jpg' %}" alt="{% trans 'Hands forming a circle around a big red heart' %}">
            </div>
            <div class="col my-3 pe-lg-5 d-flex align-items-center">
                <div>
                    <p class='px-3 fs-5'>
                        {% blocktrans %}
                        Finding resources, sponsors to support the actions of the Association and the various programs it organizes
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Goal 4-->
    <div class="container-fluid">
        <div class="row d-flex flex-column-reverse flex-lg-row">
            <div class="col my-3 pe-lg-5 d-flex align-items-center">
                <div>
                    <p class='ps-5 fs-5 mt-4'>
                        {% blocktrans %}
                        Always aiming at the best quality of life for people with Congenital Heart Diseases, 
                        the Association, in collaboration with Pediatric Cardiologists, makes efforts to find 
                        European Programs. So far it has organized the following programs: Exercise and Congenital 
                        Heart Diseases Pregnancy and Congenital Heart Diseases Rehabilitation Also in collaboration 
                        with the Center for Specialized Pediatrics To Paidi we participate in the Learning 
                        Disabilities and Congenital Heart Diseases program.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="col my-3 text-center">
                <img class='w-75' src="{% static 'images/baby_examinated.jpg' %}" alt="{% trans 'Infant laying down and a doctor listens to the heart of the baby' %}">
            </div>
        </div>
    </div>
    <!--Goal 5-->
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 text-center">
                <img class='w-75' src="{% static 'images/istockphoto-2174361430-1024x1024.jpg' %}" alt="{% trans 'Hands forming a circle around a big red heart' %}">
            </div>
            <div class="col my-3 pe-lg-5 d-flex align-items-center">
                <div>
                    <p class='px-3 fs-5'>
                        {% blocktrans %}
                        The cooperation with the competent bodies such as the Ministry of Health, the Ministry of Labour, 
                        the Health Committee of the Parliament etc. to ensure a better quality of life for people with 
                        Congenital Heart Diseases The promotion of the creation of a file of Congenital Heart Diseases.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--Goal 6-->
    <div class="container-fluid">
        <div class="row d-flex flex-column-reverse flex-lg-row">
            <div class="col my-3 pe-lg-5 d-flex align-items-center">
                <div>
                    <p class='ps-5 fs-5 mt-4'>
                        {% blocktrans %}
                        Participation of people with Congenital Heart Diseases in information and education programs.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="col my-3 text-center">
                <img class='w-75' src="{% static 'images/baby_examinated.jpg' %}" alt="{% trans 'Infant laying down and a doctor listens to the heart of the baby' %}">
            </div>
        </div>
    </div>
</section>

<hr>

<section class='mt-0 hero' id='offerings'>
    <div class="container-fluid p-0">
        <div class='row' id="offerings-div">
            <a class="btn btn-secondary services-btn fs-1" href="{% url 'services' %}">{%  trans 'Services' %}</a>
            <a class="btn btn-secondary programs-btn fs-1" href="{% url 'programs' %}">{%  trans 'Programs' %}</a>
        </div>
    </div>
</section>

<hr>

<section id='links-what-we-do'>
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 d-flex flex-column">
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/people_in_forest.jpg' %}" alt="{% trans 'A group of people in the forest hanging each other.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'become_member' %}">{% trans 'Become a member today' %}</a>
                </div>
            </div>
            <div class='col my-3 pe-lg-5 d-flex flex-column'>
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/volunteer-hands.jpg' %}" alt="{% trans 'In the blured background people are in a connference and a speaker delivers a speech.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'how_you_can_help' %}">{% trans 'How you can help' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}