{% load static %}

{% url 'home' as home_url %}
{% url 'events' as events_url %}
{% url 'news' as news_url %}
{% url 'who_we_are' as who_we_are_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cardiac Association</title>

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ home_url }}">Home</a></li>
            <li><a href="{{ events_url }}">Events</a></li>
            <li><a href="{{ news_url }}">News</a></li>
            <li><a href="{{ who_we_are_url}}">Who we are</a></li>
        </ul>
    </nav>

    <hr>

    <main>
        {% block content %}
        <!-- Content -->
        {% endblock %}
    </main>
    
    <hr>
    
    <footer>
        <p>&copy; 2020 Cardiac Association</p>
    </footer>
</body>
</html>