{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<div class="container-fluid">
  <div class="row my-5">
    <div class="col">
      <h1>{% trans 'Cancel Monthly Subscription' %}</h1>
    </div>
    <div class="row my-5">
      <div class="col">
        <form id="cancelDonationForm" method="post" action="{% url 'cancel_monthly_donation' %}">
          {% csrf_token %}
          <div class="">
            <h5>
          {% blocktrans %}
          We are sorry to see you go! If you wish to cancel your monthly donation, please 
          enter your Donation ID correctly to process the cancellation.
          {% endblocktrans %}
        </h5>
          </div>
          <div>
            <label for="donation_id"><strong>{% trans 'Donation ID' %}</strong></label>
            <input type="text" id="donation_id" name="donation_id" placeholder="{% trans 'Enter your Donation ID' %}" required>
          </div>
          <div class="d-flex">
            <label for="confirmCancellation">{% trans 'I confirm that I want to cancel my monthly subscription' %}</label>
            <input type="checkbox" id="confirmCancellation" name="confirmCancellation" required>
          </div>
          <div>
            <p><small>
                {% blocktrans %}
                **Note**: By canceling your monthly subscription, you will no longer be charged. If you have any questions or concerns,
                please <a href="#get-in-touch">contact us</a>.
                {% endblocktrans %}
              </small></p>
          </div>
          <div>
            <button type="submit" class="btn btn-danger">{% trans 'Cancel Monthly Subscription' %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}