{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<section class='mt-0 hero' id='hero-donations'>
    <div class="container-fluid p-0">
        <div class='row position-relative hero-image-div'>
            <img class='img-fluid hero-image' src="{% static 'images/smilling_babies_heads_together.jpg' %}" alt="{% trans 'Four babies laying down with their heads joined and laughing' %}">
            <h1 class='fst-italic fw-bold hero-heading'>{% trans 'Keep their hope alive' %}</h1>
        </div>
    </div>
</section>

<section id="details-form">
    <div class='container'>
        <div class='row'>
            <div class='col d-sm-flex justify-content-sm-start justify-content-lg-center ms-sm-5 mb-5'>
                <h4 class='fs-4'>{% trans 'Enter your details below to complete your donation' %}</h4>
            </div>
        </div>
        <div class="row">
            <div class="card h-auto">
                <div class="card-body">
                    <form class="row g-3" id="donation_form" method="POST">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <label for="full-name" class="form-label">{% trans 'Full Name' %}</label>
                            <input type="text" class="form-control" id="full-name" name="full_name" placeholder="Full Name">
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">{% trans 'Email' %}</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="your-email@email.com">
                        </div>
                        <div class="col-md-6">
                            <label for="phone_number" class="form-label">{% trans 'Phone Number' %}</label>
                            <input type="number" class="form-control" id="phone_number" name="phone_number" placeholder="phone number">
                        </div>
                        <div class="col-12">
                            <label for="address" class="form-label">{% trans 'Address' %}</label>
                            <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St">
                        </div>
                        <div class="col-12">
                            <label for="address2" class="form-label">{% trans 'Address 2' %}</label>
                            <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="col-md-6">
                            <label for="City" class="form-label">{% trans 'City' %}</label>
                            <input type="text" class="form-control" id="City" name="city">
                        </div>
                        <div class="col-md-4">
                            <label for="State" class="form-label">{% trans 'Sate' %}</label>
                            <input type="text" class="form-control" id="State" name="state">
                        </div>
                        <div class="col-md-2">
                            <label for="Zip" class="form-label">{% trans 'Zip' %}</label>
                            <input type="text" class="form-control" id="Zip" name="zip">
                        </div>
                        <div class="col-12 my-3">
                            <div class="d-flex justify-content-center">
                                <p class="mx-5 fs-5 fw-bold">{% trans 'Donation Type:' %} {{ donation_type }}</p>
                                <p class="mx-5 fs-5 fw-bold">{% trans 'Amount' %}: <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-currency-euro" viewBox="0 0 16 16">
                                            <path d="M4 9.42h1.063C5.4 12.323 7.317 14 10.34 14c.622 0 1.167-.068 1.659-.185v-1.3c-.484.119-1.045.17-1.659.17-2.1 0-3.455-1.198-3.775-3.264h4.017v-.928H6.497v-.936q-.002-.165.008-.329h4.078v-.927H6.618c.388-1.898 1.719-2.985 3.723-2.985.614 0 1.175.05 1.659.177V2.194A6.6 6.6 0 0 0 10.341 2c-2.928 0-4.82 1.569-5.244 4.3H4v.928h1.01v1.265H4v.928z"/>
                                        </svg> {{ donation_amount }}
                                </p>
                                <!-- Hidden inputs to pass data to the next step -->
                                <input type="hidden" name="donation_type" value="{{ donation_type }}">
                                <input type="hidden" name="donation_amount" value="{{ donation_amount }}">
                            </div>
                        </div>
                        <div class="col-12 text-center my-3">
                            <button type="submit" class="btn btn-secondary w-25">{% trans 'Pay' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}