.footer-div {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.footer-div-image {
    background: url(../images/istockphoto-694432168-1024x1024.jpg) no-repeat center center;
}