/* ---------------------------- General styles --------------------------------------------- */
section {
    margin: 50px 0;
}

hr {
    height: 5px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
}

/* ---------------------------- NavBar --------------------------------------------- */
nav {
    border-bottom: 3px outset lightgrey;
}

.nav-item {
    font-weight: bold;
    margin: 0 10px;
    font-size: large;
    font-style: italic;
}

.nav-buttons {
    font-weight: bold;
    font-size: large;
}

#logo-img {
    width: 100px;
    height: auto;
}

/* ---------------------------- Home Page --------------------------------------------- */
.hero {
    position: relative;
    overflow: hidden;
}

.hero-image-div {
    height: 500px;
    background-size: cover;
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-heading {
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#prompt {
    background: url(../images/hands_in_forest.jpg) no-repeat center center;
    height: 500px;
    background-size: cover;
}

#prompt-div {
    height: 500px;
}

/* ---------------------------- What-we-do page --------------------------------------------- */
.card-img-div { /* Services */
    height: 300px; 
}

/* ---------------------------- How-you-can-help page --------------------------------------------- */
.services-btn {
    position: absolute;
    top: 75%;
    left: 10%;
}

.programs-btn {
    position: absolute;
    top: 75%;
    left: 60%;
}

#help1 {
    background: url(../images/hands_in_forest.jpg) no-repeat center center;
    height: 500px;
    background-size: cover;
}

#help3 {
    background: url(../images/hands_in_forest.jpg) no-repeat center center;
    height: 500px;
    background-size: cover;
}

#help5 {
    background: url(../images/hands_in_forest.jpg) no-repeat center center;
    height: 500px;
    background-size: cover;
}

/* ---------------------------- News Page --------------------------------------------- */
.news-link {
    color: black;
    text-decoration: none;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 300px;
    width: fit-content;
}

.card {
    border-radius: 0;
    border-color: transparent;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    height: 450px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ---------------------------- Footer --------------------------------------------- */
footer {
    background-color: rgb(248, 249, 250);
}

.footer-div {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.footer-div-image {
    background: url(../images/istockphoto-694432168-1024x1024.jpg) no-repeat center center;
}

/* ---------------------------- Media Queries --------------------------------------------- */
@media (max-width: 992px) {
    .footer-div-image {
        height: 450px;
    }

    #prompt {
        background: url(../images/hands_in_forest.jpg) no-repeat center right;
        height: 500px;
        background-size: cover;
    }
}