/* Google Fonts -- Roboto, Poppins, Fugaz One */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ---------------------------- General styles --------------------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}

section {
    margin: 50px 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    letter-spacing: 5px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 5px;
}

hr {
    height: 5px;
    background-color: gray;
    border: 3px solid gray;
    border-radius: 5px;
    margin: 20px 20px;
    display: none; /* Hide the horizontal rule for test*/
}

.down-arrow {
    width: 80px;
    height: auto;
    position: absolute;
    top: 65%;
    left: 75%;
    z-index: 3;
}

/* ---------------------------- NavBar --------------------------------------------- */
nav {
    border-bottom: 3px outset lightgrey;
}

.nav-item {
    margin: 0 10px;
}

#logo-img {
    width: 100px;
    height: auto;
}

#search-form {
    height: 25px;
}

/* ---------------------------- Hero sections --------------------------------------------- */
.hero {
    position: relative;
    overflow: hidden;
}

.hero-image-div {
    height: 500px;
    background-size: cover;
    position: relative;
    text-align: center;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-heading {
    text-align: start;
    padding-top: 200px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* ---------------------------- Home Page --------------------------------------------- */

#prompt {
    background: url(../images/hands_forming_heart_white.jpg) no-repeat center center;
    height: 500px;
    background-size: cover;
}

#prompt-div {
    height: 500px;
}

.cta-btn-home {
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: 2;
    width: auto;
    font-size: 30px;
}

/* ---------------------------- Donations Form --------------------------------------------- */
.radio-group input[type="radio"] {
    display: none;
}

/* ---------------------------- What-we-do page --------------------------------------------- */
.card-img-div { /* Services */
    height: 300px; 
}

.services-btn {
    position: absolute;
    top: 50%;
    left: 10%;
    width: auto;
}

.programs-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
}

/* ---------------------------- How-you-can-help page --------------------------------------------- */
#help1 {
    background: url(../images/hands_in_forest.jpg) no-repeat center center;
    height: 500px;
    background-size: cover;
}

#help3 {
    background: url(../images/hands_in_forest.jpg) no-repeat center center;
    height: 500px;
    background-size: cover;
}

#help5 {
    background: url(../images/hands_in_forest.jpg) no-repeat center center;
    height: 500px;
    background-size: cover;
}

/* ----------------------------Events and News Pages --------------------------------------------- */
.news-link {
    color: black;
    text-decoration: none;
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 300px;
    width: fit-content;
}

.card {
    border-radius: 0;
    border-color: transparent;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    height: 450px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ---------------------------- Footer --------------------------------------------- */
footer {
    background-color: rgb(248, 249, 250);
}

.footer-div {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.footer-div-image {
    background: url(../images/istockphoto-694432168-1024x1024.jpg) no-repeat center center;
}

/* ---------------------------- Media Queries --------------------------------------------- */
@media (max-width: 992px) {
    .footer-div-image {
        height: 450px;
    }

    #prompt {
        background: url(../images/hands_in_forest.jpg) no-repeat center right;
        height: 500px;
        background-size: cover;
    }
}

@media (max-width: 768px) {
    .hero-heading {
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    #intro-links {
        display: flex;
        flex-direction: column;
    }

    #intro-links a {
        margin: 10px 0 10px 5px;
    }
}