{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}

<section class='mt-0 hero' id='hero-gallery'>
    <div class="container-fluid p-0">
        <div class='row position-relative hero-image-div'>
            <img class='img-fluid hero-image' src="{% static 'images/collage_gallery.png' %}" alt="{% trans 'Figures standing in a row with the middle figure being red with a little heart' %}">
            <h1 class='fst-italic fw-bold hero-heading hide'>{% trans 'Our gallery' %}</h1>
            <img class="down-arrow hide" src="{% static 'images/down_arrow.png' %}" alt="Down arrow">
        </div>
    </div>
</section>

<section id="galleries">
    {% for gallery in galleries %}
    <div class="container mt-5">
        <h2>{{ gallery.title }}</h2>
        <p>{{ gallery.description }}</p>

        <div class="row" style="height: 350px; overflow: auto;">
            <!-- Images -->
            {% for image in gallery.images.all %}
                <div class="col-md-3 mb-3" style="height: 300px; overflow: hidden;">
                    <a href="{{ image.image.url }}" class="glightbox" data-gallery="gallery{{ gallery.id }}" data-title="{{ image.caption }}">
                        <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.caption }}">
                    </a>
                </div>
            {% endfor %}

            <!-- Videos -->
            {% for video in gallery.videos.all %}
                <div class="col-md-3 mb-3" style="height: 300px; overflow: hidden;">
                    <a href="{{ video.video.url }}" class="glightbox" data-gallery="gallery{{ gallery.id }}" data-title="{{ video.caption }}" data-type="video">
                        <img src="{% static 'images/default_logo.jpg' %}" class="img-fluid" alt="{{ video.caption }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr class="d-block">
{% endfor %}
</section>

<section id='links-gallery'>
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 d-flex flex-column">
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/become_member.jpg' %}" alt="{% trans 'A group of people placing their hands in the middle on top of each other.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'become_member' %}">{% trans 'Become a member today' %}</a>
                </div>
            </div>
            <div class='col my-3 pe-lg-5 d-flex flex-column'>
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/events.jpg' %}" alt="{% trans 'In the blurred background people are in a conference and a speaker delivers a speech.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'events' %}">{% trans 'Find out about our Events' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}