{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% url 'events' as events_url %}
{% url 'become_member' as become_member_url %}

{% block content %}

<section class='mt-0 hero' id='hero-people'>
    <div class="container-fluid p-0">
        <div class='row position-relative hero-image-div'>
            <img class='img-fluid hero-image' src="{% static 'images/board_of_directors.jpg' %}" alt="{% trans 'Figures standing in a row with the middle figure being red with a little heart' %}">
            <h1 class='fst-italic fw-bold hero-heading'>{% trans 'Young hearts' %}<br>{% trans 'is our mission' %}</h1>
            <img class="down-arrow" src="{% static 'images/down_arrow_curved.png' %}" alt="Down arrow">
        </div>
    </div>
</section>

<hr>

<section id='intro'>
    <div class='container-fluid text-start d-flex flex-column'>
        <div class='row'>
            <div class='col d-sm-flex justify-content-sm-start ms-sm-5 mb-5'>
                <h2 class='fs-1 fw-bold'>{% trans 'Our people' %}</h2>
            </div>
        </div>
        <div class='row justify-content-center'>
            <div class='col-8'>
                <p class='fs-5'> 
                    {% blocktrans %}
                    The Board of Directors and dedicated staff of our charity share a unified mission: 
                    to provide unwavering support and care for children with heart disease and their 
                    families. Together, we work with compassion, commitment, and expertise to make a 
                    positive impact, ensuring that every child has access to the treatment, resources, 
                    and hope they deserve.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</section>

<section id="board">
    <div class="container-fluid">
        <div class='row'>
            <div class='col d-sm-flex justify-content-sm-start ms-sm-5 mb-5'>
                <h2 class='fs-1 fw-bold'>{% trans 'Board of Directors' %}</h2>
            </div>
            <div class="row mt-5">
                {% if board_members %}
                {% for person in board_members %}
                <div class="col d-flex justify-content-center col-md-6 col-lg-4">
                    <div class="card w-75 h-auto">
                        {% if 'placeholder' in person.image.url %}
                        <img src="{% static 'images/profile_pic.jpeg' %}" class="card-img-top" alt="{% trans 'Default image' %}">
                        {% else %}
                        <img src="{{ person.image.url }}" class="card-img-top" alt="{% trans 'Picture of the board member' %}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ person.name }}</h5>
                            <p class="card-text">{{ person.get_position_display }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>


<section id="staff">
    <div class="container-fluid">
        <div class='row'>
            <div class='col d-sm-flex justify-content-sm-start ms-sm-5 mb-5'>
                <h2 class='fs-1 fw-bold'>{% trans 'Dedicated Staff' %}</h2>
            </div>
            <div class="row mt-5">
                {% if staff %}
                {% for person in staff %}
                <div class="col d-flex justify-content-center col-md-6 col-lg-4">
                    <div class="card w-75 h-auto">
                        {% if 'placeholder' in person.image.url %}
                        <img src="{% static 'images/profile_pic.jpeg' %}" class="card-img-top" alt="{% trans 'Default image' %}">
                        {% else %}
                        <img src="{{ person.image.url }}" class="card-img-top" alt="{% trans 'Picture of the staff' %}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ person.name }}</h5>
                            <p class="card-text">{{ person.get_position_display }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<hr>

<section id='links-people'>
    <div class="container-fluid">
        <div class="row d-flex flex-column flex-lg-row">
            <div class="col my-3 d-flex flex-column">
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/people_in_forest.jpg' %}" alt="{% trans 'A group of people in the forest hanging each other.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'become_member' %}">{% trans 'Become a member today' %}</a>
                </div>
            </div>
            <div class='col my-3 pe-lg-5 d-flex flex-column'>
                <div class='d-flex justify-content-center'>
                    <img class='w-75' src="{% static 'images/conference.jpg' %}" alt="{% trans 'In the blured background people are in a connference and a speaker delivers a speech.' %}">
                </div>
                <div class='d-flex justify-content-center mt-4'>
                    <a class='fs-2 fw-bold' href="{% url 'events' %}">{% trans 'Find out about our Events' %}</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}